@model List<TransportApp.Domain.BusStop>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Bus Stops </h2>
        </div>
        <div class="col-6 d-flex p-2 justify-content-end">
            <a asp-controller="BusStop" asp-action="Create" class="btn btn-info d-flex p-2 justify-content-end">
                <i class="bi bi-plus-circle pl-1"></i>&nbsp;Add New Bus Stop
            </a>
            
        </div>
    </div>
</div>
<hr class="bg-primary"/>
<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name Of Bus Stop</th>
            <th>Streets</th>
        </tr>
    </thead>
    <tbody >
        @{
            int i = 1;
        }
        @foreach(var busStop in Model){
            <tr>
                <td >@i</td>
                <td >@busStop.Name</td>
                <td ><a class="btn btn-primary" asp-controller="Street" asp-action="Index" asp-route-id="@busStop.Id">View Strees</a></td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="BusStop" asp-action="Edit" class="btn btn-primary" asp-route-id="@busStop.Id">
                            <i class="bi bi-pencil-square"></i>&nbsp;Edit
                        </a>
                        <a asp-controller="BusStop" asp-action="Delete" class="btn btn-danger" asp-route-id="@busStop.Id">
                            <i class="bi bi-trash3-fill"></i>&nbsp;Delete
                        </a>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>